body{
    background-color: #908d84;
}
#header ul li{
    
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin-top: 7px;
    font-size: 20px;
    font-weight: bold;
    
}
#header{
    background-color:lightgray;
    height:50px;

}

#cartt{
    margin-left:34%;
   
}
#link a{
    color: black; 
    text-decoration: none;
}
#link{
        margin-left:40%; 
          
}
#logo{
    margin-left: 1.5%;
}  
#logo::first-letter{
    color: red;
}
#link a:hover{
    background-color:red;
    color:rgb(255, 255, 255);
    text-decoration: none;
}  
form{
    border: 1px solid black;
    width: 70%;
    height: 601px;
    margin-left: 2%;
    margin-top: 30px;
    overflow-y:scroll ;

}
/* #submit{
    margin-left: 90%;
    position: relative;
    bottom: 95px;
    left: -80px;
    padding: 10px 10px 10px 10px;
    background-color: #58ced4;
    border-radius: 14px; 
    
}
#submit:hover{
    text-shadow:2px 2px 4px #be0202; */
    

table{
    margin: 0% 1% 2% 1% ;

}
tr{
    border-bottom: black 1px solid;
}
td{
    padding: 10px;
}
.butt{
    margin-top: 60px;
}
.imag{
    position: relative;
    top: 1%;
    left: 2%;
}
