.container{
    margin: 70px;
}
.img{
    width: 100%;
    height: 500px;

}
.nav{
    float: right;
    padding: 5px;
    padding-top: 13px;
  
}
.nav a:hover{
    background-color:red;
    color:rgb(255, 255, 255);

}
a{
    text-decoration: none;
    font-size: large;
    padding-inline: 20px;
    color: black;
    font-weight: bold;
}
.logo{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 30px;
    background-color:lightgray;
    padding-left: 10px;


}
.logo::first-letter{
    color: red;
 }
.circle1{
    
    height:300px;
    width: 300px;
    border-radius: 50% ;
    background-color: lightgray;
    margin-left: 100px;
    top: 5px;
    position: absolute;

}
.circle2{
    height:300px;
    width: 300px;
    border-radius: 50% ;
    background-color: lightgray;
    float:right;
    margin-top: 50px;
    position: absolute;
    top: 10px;
    right: 300px;
}

.circle3{
    height:400px;
    width: 400px;
    border-radius: 50% ;
    background-color: lightgray;
    position: absolute;
    top: 400px;
    left: 150px;

}
.part2{
    position: relative;
}
button{
    position: absolute;
    top: 600px;
    left: 800px;
    font-size: 24px;
    padding: 32px 50px;

}
