.specialParagraph p{
    display: block;
    float: left;
    margin-left: 10px;
}
#navimg .nav{
  background-image: url('../img/Student-Study-Laptop-Home-Notes-Desktop.jpg');
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  background-color: #333;
  overflow: hidden;
}
#about{
  padding-top: 17px;
  padding-right: 20px;
}
#myBtn{
  width: 100px;
}
/* Style the links inside the navigation bar */
.nav a {
  float: right;
  color: #49381f;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100px;
}
/* Change the color of links on hover */
.nav a:hover {
  background-color:  #00917C;
}
/* Add a color to the active/current link */
.nav a.active {
  background-color: #49381f;
  color: white;
}
#logo{
  font-family: 'Berkshire Swash', cursive;
  font-size: 50px;
  margin-left: 15px;
  color: #49381f;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fde8cd;
}
#mySidenav{
  position: absolute;
  top: 50px;
}
#mySidenav a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 110px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}
#mySidenav a:hover {
  left: 0;
} 
#books {
  top: 50px;
  background-color: #433520;
  font-family: 'Open Sans', sans-serif;

}
#tutorials {
  top: 110px;
  background-color: #025955;
  font-family: 'Open Sans', sans-serif;
}
#classes {
  top: 170px;
  background-color: #00917c;
  font-family: 'Open Sans', sans-serif;
}
#mySidenav a i{
    position: absolute;
    right: 22px;
}
#itemsRenderType li{
display: inline-block; 
}
#itemsRenderType{
display: contents;
border: 1px solid black;
width: 75px;
}
#addToCart{
width: 80%;
display: flex;
margin: auto;
flex-wrap: wrap;
align-content: space-between;
min-height:100vh;
justify-content:center;
align-items:center;
background:#025955;
margin-top: 40px;
height: 450px;
overflow: auto;
overflow-y:auto ;
}
#addToCart>div:not(#addClasses){
width: 40px;
margin: 10px;
text-align: center;
line-height: 150px;
font-size: 30px;
background:rgb(255, 255, 255);
display:flex;
align-items:center;
flex-direction:column;
border-radius:10px;
box-shadow: inset -2px -18px 20px 10px #fde8cd;
border-bottom-left-radius: 50px ;
}
#addToCart img{
width: 30%;
margin-left: 4%;
margin-top: 5%;
width:100px;
border-radius:50%;
}
#addToCart input{
width:100%;
padding:.8rem;
border:none;
background: linear-gradient(to right,#fde8cd,#6cbbaf,#2aa593,#00917c);
color:#fff;
transition:.2s ease-in-out;
cursor:pointer;
border-bottom-left-radius: 80px ;
}
#addToCart p{
font-size: 50%;  
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}
#addToCart>* {
flex: 1 1 160px;
}
#addTutorialToCart{
text-align: center; 
flex-basis: 33.33%;
position: relative;
}
#addTutorialToCart iframe,
#addTutorialToCart input{
width: 50%;
margin-left: 4%;
margin-top: 3%;
}
#addClasses{
position: relative;
padding: 2px;
height: 400px;
flex: 50%;
box-shadow: 0px 1px 13px 3px #fde8cd;
margin: 10px;
font-size: 30px;
background:#00917c;
display:flex;
align-items:center;
flex-direction:column;
border-radius:10px;
margin-left: 18%;
margin-right: 18%;
}
#addClasses img{
position: absolute;
text-align: center;
position: absolute;
top: 0px;
right: 20px;
border-radius: 0;
width: 200px;
height: 200px;
}
#addClasses input{
margin: 45%;
width:50%;
}
#addClasses section{
top: 50px;
position: absolute;
left: 15px;
/* background-color: #fde8cd; */
max-width: 60%;
font-family: 'Open Sans', sans-serif;
color: rgb(255, 255, 255);
/* height: 5px; */
}
footer{
  background-image:url(https://www.kateunderwoodhr.co.uk/wp-content/uploads/2020/05/training-and-furlough-1-980x490.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  /* padding: 55px 50px; */
  margin-top: 50px;
  clear: both;
}
.footer-left,.footer-center,.footer-right{
  display: inline-block;
  vertical-align: top;
}
.footer-left{
  width: 30%;
  margin-left: 5%;
}
footer h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  padding-left: 42px;
}
.footer-company-name{
  color: #fffbfb;
    font-size: 21px;
    font-weight: normal;
    margin: 40px;
}
.footer-center{
  width: 35%;
}
.footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
.footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}
.footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
.footer-center p a{
  color:  lightseagreen;
  text-decoration: none;
}
.footer-right{
  width: 25%;
}
.footer-company-about{
  line-height: 27px;
    color: #f0f8ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-icons{
  margin-top: 25px;
}
.footer-icons a{
  display: inline-block;
  width: 67px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 20px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
::-webkit-scrollbar {
  width: 15px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #fde8cd; 
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #fde8cd; 
}