#navList1 {
    opacity: 0;
    width: 0px;
    transition: width 2s, opacity 3s;
    background-color: red;
}
#navList1:hover{
    width: 100px;
    transition-timing-function: linear;
}
#navList1:hover{
    opacity: 1;
    transition-timing-function: linear;
}