#clicked:hover {
background-color: red;
}


.sources{
    box-sizing: border-box;
    
    

    margin-bottom: 100px;
    position: relative;
    margin-top: 20px;
}
#header ul li{
    display: inline-block;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin-top: 7px;
}
#header{
    border: 1px solid black;
    height:50px;

}
#header ul{
    padding: 0px;
}
#home{
    margin-left:28%;
}
#link{
    margin-left:23%;
}
#logo{
    margin-left: 1.5%;
}
#itemsRenderType li{
    display: inline-block;
    
}
#itemsRenderType{
padding-bottom: 12%;
    border: 1px solid black;
    width: 75px;
}
#books{
margin-left:  22%;
margin-top: 133%;  
}
#tutorials{
    margin-left:  10%;
    margin-top: 133%;
}
#classes{
    margin-left:  12%;
    margin-top: 133%;

}
form{
    display:inline-block;
}
#addToCart{
    position: absolute;
    right: 34px;
    top: 86px;
    width: 82%;
    height: 86.5%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: scroll;


   
}
#img{
    margin-top: 4%;
    border: solid 1px black;
    width: 9%;   
}
#addToCart >div{
    
    width: 70%;
    text-align: center; 
    flex-basis: 33.33%;
    display: inline-flex;
    /* justify-content: center; */
    flex-direction: column;
  
}
#addToCart >div:nth-child(1n+10) {
    flex-basis: 20%;
 }

#addToCart img,
#addToCart input{
    width: 50%;
    margin-left: 4%;
    margin-top: 2%;
    


}
#addToCart label{
    width: fit-content;
    margin-inline: 30px;
    
}

#addToCart>* {
    flex: 1 1 160px;
}
